
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDEA
.idea
*.ipr
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/
bin/

# Misc
/*~
/*/*~
/dependencies.txt
