 ------
 Thirdparty Licenses Examples
 ------
 ------
 2011-02-04
 ------

Third-party

  Le plugin offre deux goals pour gérer les tierces parties d'un projet.

* Goal add-third-party

  Ce goal construit un fichier <<THIRD-PARTY.txt>> et l'ajoute au build du projet (dans le class-path).

  Ce fichier est généré par défaut dans <<target/generated-sources/licenses/>>, cela peut-être configuré via la
  propriété <<outputDirectory>>.

  Un fichier de consolidation de licenses peut-être ajouté (si une dépendance n'a pas de license connue via son POM).

  Par défaut, ce fichier est situé ici : <<src/main/license/THIRD-PARTY.properties>> et peut-être modifié via
  la propriété <<missingFile>>.

  Il est possible aussi de générer ce fichier en mode bundle (le nom du fichier est préfixé par l'artifactId) et ceci
  pour éviter toute collision de noms avec un autre fichier <<THIRD-PARTY.txt>> qui aurait pu être généré pour une
  dépendance par exemple.

  <Note:> Ce goal n'a pas d'effet sur un projet de type <<pom>>.

  Pour plus de détail, consulter la {{{./add-third-party-mojo.html}page des détails}}.


* Goal aggregate-add-third-party

  Ce goal construit un fichier <<THIRD-PARTY.txt>> d'un projet multi-module pour toutes les dépendances de tous
  ces modules.

  Ce fichier est généré par défaut dans <<target/generated-sources/licenses/>>, cela peut-être configuré via la
  propriété <<outputDirectory>>.

  <Note:> Ce goal n'a d'effet que sur un projet de type <<pom>>.

  Pour plus de détail, consulter la {{{./aggregate-add-third-party-mojo.html}page des détails}}.

* Comment consolider le fichier THIRD-PARTY

  Il est possible d'améliorer le fichier <<THIRD-PARTY>> :

  - Remplir les licenses manquantes.

  - Fussioner des licenses (même license mais noms légèrement différents dans les POMs des dépendances).

** Ajouter les licenses manquantes

   En utilisation la propriété <<useMissingfile>> sur les goal de third-party,
   cela générera ou mettra à jour un fichier dit de <consolidation de license> qui par défaut est situé
   <<src/license/THIRD-PARTY.properties>>.

   Dans ce fichier, on retrouvre les dépendances sans license, il suffit donc juste de leur affecter une license.

   Une fois le fichier rempli, relancer le goal pour intégrer vos modification dans le fichier <<THIRD-PARTY>> généré.

*** Exemple

  Soit un pom avec ces dépendances :

-------------------------------------------------------------------------------

  <dependencies>

    <dependency>
      <groupId>commons-logging</groupId>
      <artifactId>commons-logging</artifactId>
      <version>1.1.1</version>
    </dependency>

    <dependency>
      <groupId>commons-primitives</groupId>
      <artifactId>commons-primitives</artifactId>
      <version>1.0</version>
    </dependency>

  </dependencies>
-------------------------------------------------------------------------------

   Voici le fichier <<THIRD-PARTY.txt>> généré avec la license non connu pour commons-primitives, en lançant :

--------------------------------------------------------------------------------
mvn license:add-third-party -DuseMissingFile

List of 2 third-party dependencies.

 (The Apache Software License, Version 2.0) Commons Logging (commons-logging:commons-logging:1.1.1 - http://commons.apache.org/logging)
 (Unknown license) Unnamed - commons-primitives:commons-primitives:jar:1.0 (commons-primitives:commons-primitives:1.0 - no url defined)
--------------------------------------------------------------------------------

  et le fichier de consolidation :

--------------------------------------------------------------------------------
# Generated by org.nuiton.license.plugin.AddThirdPartyMojo
#-------------------------------------------------------------------------------
# Already used licenses in project :
# - The Apache Software License, Version 2.0
#-------------------------------------------------------------------------------
# Please fill the missing licenses for dependencies :
#
#
#Fri Jun 25 10:56:39 CEST 2010
commons-primitives--commons-primitives--1.0=
--------------------------------------------------------------------------------

  Remplir le fichier :

--------------------------------------------------------------------------------
# Generated by org.nuiton.license.plugin.AddThirdPartyMojo
#-------------------------------------------------------------------------------
# Already used licenses in project :
# - The Apache Software License, Version 2.0
#-------------------------------------------------------------------------------
# Please fill the missing licenses for dependencies :
#
#
#Fri Jun 25 10:56:39 CEST 2010
commons-primitives--commons-primitives--1.0=The Apache Software License, Version 2.0
--------------------------------------------------------------------------------

  Relancer le goal pour obtenir le fichier <<THIRD-PARTY.txt>> regénéré :

-------------------------------------------------------------------------------
List of 2 third-party dependencies.

 (The Apache Software License, Version 2.0) Commons Logging (commons-logging:commons-logging:1.1.1 - http://commons.apache.org/logging)
 (The Apache Software License, Version 2.0) Unnamed - commons-primitives:commons-primitives:jar:1.0 (commons-primitives:commons-primitives:1.0 - no url defined)
-------------------------------------------------------------------------------

** Fusion des licenses.

  Pour merger des licenses dans le fichier <<THIRd-PARTY.txt>> file, il suffit de remplir dans la configuration
  la propriété <<licenseMerges>> de type Map :

  Cahqeu entrée de cette propriété <<licenseMerges>> décrit un merge de licenses, dont la première license est celle qui
  remplace toutes les suivantes.


*** Exemple

  Soit un pom avec ces dépendances :

-------------------------------------------------------------------------------

  <dependencies>

    <dependency>
      <groupId>commons-logging</groupId>
      <artifactId>commons-logging</artifactId>
      <version>1.1.1</version>
    </dependency>

    <dependency>
      <groupId>com.jhlabs</groupId>
      <artifactId>filters</artifactId>
      <version>2.0.235</version>
    </dependency>

  </dependencies>
-------------------------------------------------------------------------------

  Lors de l'exécution  du goal <add-third-party>, on obtain le fichier <<THIRD-PARTY.txt>> suivant :

-------------------------------------------------------------------------------
List of 2 third-party dependencies.

 (Apache License, Version 2.0) JHLabs Image Processing Filters (com.jhlabs:filters:2.0.235 - http://www.jhlabs.com/ip/index.html)
 (The Apache Software License, Version 2.0) Commons Logging (commons-logging:commons-logging:1.1.1 - http://commons.apache.org/logging)
-------------------------------------------------------------------------------

  Maintenant, ajoutons un merge de license dans la configuration du plugin :

-------------------------------------------------------------------------------
    <pluginManagement>
      <plugins>
        <plugin>
          <groupId>org.nuiton</groupId>
          <artifactId>maven-license-plugin</artifactId>
          <version>2.3</version>
          <executions>
            <execution>
              <id>default-cli</id>
              <configuration>
                <licenseMerges>
                  <licenseMerge>The Apache Software License, Version 2.0|Apache License, Version 2.0</licenseMerge>
                </licenseMerges>
              </configuration>
            </execution>
          </executions>
        </plugin>
        ...
      </plugins>
    </pluginManagement>
-------------------------------------------------------------------------------

  En relançant le goal on obtain au final ce fichier <<THIRD-PARTY.txt>> :

-------------------------------------------------------------------------------
List of 2 third-party dependencies.

 (The Apache Software License, Version 2.0) Commons Logging (commons-logging:commons-logging:1.1.1 - http://commons.apache.org/logging)
 (The Apache Software License, Version 2.0) JHLabs Image Processing Filters (com.jhlabs:filters:2.0.235 - http://www.jhlabs.com/ip/index.html)
-------------------------------------------------------------------------------

* Filtrer les dépendances

  Il est possible d'inclure-exclure les dépendances à traiter dans les third-parties.

  * Inclure ArtifactIds ou GroupIds

    Pour inclure uniquement les dépendances qui repsectent un filtre sur les artifactIds ou groupIds.

  * Exlucre ArtifactIds ou GroupIds

    Pour exclure toutes les dépendances qui respectent un filtre sur les artifactIds ou groupIds.

  * Priorité Inclure - Exclure

    Il est à noter que l'exclusion prend toujours le dessus sur une inclusion.
    De même les traitements sur les groupIds prennent le dessus sur ceux des artifactIds.

** Exclure groupIds

  En utilisant la propriété de configuration <<excludeGroups>>, cela supprimera toutes les dépendances repsectant
  ce groupe dans le fichier <<THIRD-PARTY.txt>>.

*** Exemple

  Soit un pom avec ces dépendances :

-------------------------------------------------------------------------------

  <dependencies>

    <dependency>
      <groupId>commons-logging</groupId>
      <artifactId>commons-logging</artifactId>
      <version>1.1.1</version>
    </dependency>

    <dependency>
      <groupId>com.jhlabs</groupId>
      <artifactId>filters</artifactId>
      <version>2.0.235</version>
    </dependency>

    <dependency>
      <groupId>com.jhlabs</groupId>
      <artifactId>javaproj</artifactId>
      <version>1.0</version>
    </dependency<

  </dependencies>
-------------------------------------------------------------------------------

  En exécutant la commande <mvn add-third-party -Dlicense.excludedGroups=com\.jhla.*>,
  on obtient le fichier <<THIRD-PARTY.txt>> suivant :

-------------------------------------------------------------------------------
List of 2 third-party dependencies.

 (The Apache Software License, Version 2.0) Commons Logging (commons-logging:commons-logging:1.1.1 - http://commons.apache.org/logging)
-------------------------------------------------------------------------------

** Exclure artifactIds

   En utilisant la propriété de configuration <<excludeArtifacts>>,
   cela supprimera toutes les dépendances respectant le filtre sur les artifactIds du fichier <<THIRD-PARTY.txt>>.

*** Exemple

  Soit un pom avec ces dépendances :

-------------------------------------------------------------------------------

  <dependencies>

    <dependency>
      <groupId>commons-logging</groupId>
      <artifactId>commons-logging</artifactId>
      <version>1.1.1</version>
    </dependency>

    <dependency>
      <groupId>com.jhlabs</groupId>
      <artifactId>filters</artifactId>
      <version>2.0.235</version>
    </dependency>

    <dependency>
      <groupId>com.jhlabs</groupId>
      <artifactId>javaproj</artifactId>
      <version>1.0</version>
    </dependency<

  </dependencies>
-------------------------------------------------------------------------------

  En exécutant la commande <mvn add-third-party -Dlicense.excludedArtifacts=javaproj>,
  on obtient le fichier <<THIRD-PARTY.txt>> suivant :

-------------------------------------------------------------------------------
List of 2 third-party dependencies.

  (Apache License, Version 2.0) JHLabs Image Processing Filters (com.jhlabs:filters:2.0.235 - http://www.jhlabs.com/ip/index.html)
  (The Apache Software License, Version 2.0) Commons Logging (commons-logging:commons-logging:1.1.1 - http://commons.apache.org/logging)
-------------------------------------------------------------------------------

** Inclure groupIds

   En utilisant la propriété de configuration <<includeGroups>>,
   cela incluera seulement les dépendances repsectant le groupId donné dans le fichier <<THIRD-PARTY.txt>>.

*** Exemple

  Soit un pom avec ces dépendances :

-------------------------------------------------------------------------------

  <dependencies>

    <dependency>
      <groupId>commons-logging</groupId>
      <artifactId>commons-logging</artifactId>
      <version>1.1.1</version>
    </dependency>

    <dependency>
      <groupId>com.jhlabs</groupId>
      <artifactId>filters</artifactId>
      <version>2.0.235</version>
    </dependency>

    <dependency>
      <groupId>com.jhlabs</groupId>
      <artifactId>javaproj</artifactId>
      <version>1.0</version>
    </dependency<

  </dependencies>
-------------------------------------------------------------------------------

  En exécutant la commande <mvn add-third-party -Dlicense.includedGroups=com\.jhlabs>,
  on obtient le fichier <<THIRD-PARTY.txt>> suivant :

-------------------------------------------------------------------------------
List of 2 third-party dependencies.

  (Apache License, Version 2.0) JHLabs Image Processing Filters (com.jhlabs:filters:2.0.235 - http://www.jhlabs.com/ip/index.html)
  (The Apache Software License, Version 2.0) JHlabs Java Projection Library (com.jhlabs:javaproj:1.0 - http://www.jhlabs.com/java/maps/proj/index.html)
-------------------------------------------------------------------------------

** Inclure artifactIds

   En utilisant la propriété de configuration <<includeArtifacts>>,
   cela incluera seulement les dépendances respectant l'artifactId donné dans le fichier <<THIRD-PARTY.txt>>.

*** Exemple

  Soit un pom avec ces dépendances :

-------------------------------------------------------------------------------

  <dependencies>

    <dependency>
      <groupId>commons-logging</groupId>
      <artifactId>commons-logging</artifactId>
      <version>1.1.1</version>
    </dependency>

    <dependency>
      <groupId>com.jhlabs</groupId>
      <artifactId>filters</artifactId>
      <version>2.0.235</version>
    </dependency>

    <dependency>
      <groupId>com.jhlabs</groupId>
      <artifactId>javaproj</artifactId>
      <version>1.0</version>
    </dependency<

  </dependencies>
-------------------------------------------------------------------------------

  En exécutant la commande <mvn add-third-party -Dlicense.includedArtifacts=filters>,
  on obtient le fichier <<THIRD-PARTY.txt>> suivant :

-------------------------------------------------------------------------------
List of 2 third-party dependencies.

  (Apache License, Version 2.0) JHLabs Image Processing Filters (com.jhlabs:filters:2.0.235 - http://www.jhlabs.com/ip/index.html)
-------------------------------------------------------------------------------

 