 ------
 Introduction 
 ------
 ------
 2010-10-16
 ------

${project.name}

  This plugin reads the dependencies of a project and attempts to download the associated license
  files based on the "url" field in the dependency POMs.
   
* {Goals} Overview
  
  The following goals are meant to participate in the default build lifecycle:
  
  * <<<{{{./add-third-party-mojo.html}license:add-third-party}}>>>\
    Generates a file containing a list of all dependencies and their licenses for a single project build.
  
  * <<<{{{./aggregate-add-third-party-mojo.html}license:aggregate-add-third-party}}>>>\
    Generates a file containing a list of all dependencies and their licenses for a multi-module build.
  
  * <<<{{{./comment-style-list-mojo.html}license:comment-style-list}}>>>\
    Displays all the available comment styles to box file headers.
  
  * <<<{{{./download-licenses-mojo.html}license:download-licenses}}>>>\
    Downloads the license files associated with each dependency.
  
  * <<<{{{./license-list-mojo.html}license:license-list}}>>>\
    Display all available licenses.
  
  * <<<{{{./update-file-header-mojo.html}license:update-file-header}}>>>\
    Update the license header of the current project source files.
  
  * <<<{{{./update-project-license-mojo.html}license:update-project-license}}>>>\
    Updates (or creates) the main project license file according to the license defined in the licenseName parameter.
  
* {Usage}
  
  General instructions on how to use the License Plugin can be found on the {{{./usage.html}usage page}}. Some more
  specific use cases are described in the examples given below. Last but not least, users occasionally contribute
  additional examples, tips or errata to the
  {{{http://docs.codehaus.org/display/MAVENUSER/License+Maven+Plugin}plugin's wiki page}}.

  In case you still have questions regarding the plugin's usage, please have a look at the {{{./faq.html}FAQ}} and feel
  free to contact the {{{./mail-lists.html}user mailing list}}. The posts to the mailing list are archived and could
  already contain the answer to your question as part of an older thread. Hence, it is also worth browsing/searching
  the {{{./mail-lists.html}mail archive}}.

  If you feel like the plugin is missing a feature or has a defect, you can fill a feature request or bug report in our
  {{{./issue-tracking.html}issue tracker}}. When creating a new issue, please provide a comprehensive description of your
  concern. Especially for fixing bugs it is crucial that the developers can reproduce your problem. For this reason,
  entire debug logs, POMs or most preferably little demo projects attached to the issue are very much appreciated.
  Of course, patches are welcome, too. Contributors can check out the project from our
  {{{./source-repository.html}source repository}} and will find supplementary information in the
  {{{http://mojo.codehaus.org/development/guidelines.html}development guidelines}}.

* {Examples}
  
  To provide you with better understanding of some usages of the License Plugin, you can take a look at the following
  examples:

  * {{{./examples/example-add-license.html}Add License to the plugin}}
  
  * {{{./examples/example-download-licenses.html}Download dependency licenses}}
  
  * {{{./examples/example-license-list.html}List available licenses}}
  
  * {{{./examples/example-thirdparty.html}Check thirdparty licenses}}
  
  * {{{./examples/update-file-header-config.html}Update file header of source files}}
  